.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.logo {
  padding: 10px;
}

.text-logo {
  width: 130px;
  font-size: x-large;
}

nz-footer {
  text-align: center;
}

nz-layout {
  height: 100vh;
}

.inner-content {
  min-height: 100%;
  border-radius: 5px;
}

.no-padding-top {
  padding-top: 0px !important;
}

.user-title {
  font-size: 18px;
  font-weight: 600;
}

.notification-icon {
  font-size: 20px;
}

.user-title-skeleton {
  width: 300px;
}
