<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item [nzSelected]="menu.selected" *ngFor="let menu of menus" (click)="navigate(menu)">
        <i nz-icon [nzType]="menu.icon.nzType" [nzTheme]="menu.icon.nzTheme"></i>
        <span> {{ menu.title | translate }} </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="no-padding">
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content class="margin">
      <div class="inner-content padding">
        
        <!-- router -->
        <router-outlet></router-outlet>

      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
