<nz-card nzTitle="Mercado Livre" [nzExtra]="extraTemplateML" class="mercado-livre-card">
  <!-- <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(0 | number)!" [nzTitle]="'A preparar'" [nzSuffix]="'vendas'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(0 | number)!" [nzTitle]="'Pronto para enviar'" [nzSuffix]="'vendas'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(0 | number)!" [nzTitle]="'Em trânsito'" [nzSuffix]="'vendas'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(0 | number)!" [nzTitle]="'Concluídas'" [nzSuffix]="'vendas'"></nz-statistic>
    </nz-col>
  </nz-row> -->
</nz-card>
<ng-template #extraTemplateML>
  <!-- <img nz-image width="80px" height="20px" nzSrc="./assets/images/mercado-livre-logo.png" alt="Mercado Livre Logo"
    nzDisablePreview /> -->
</ng-template>

<!-- shopee -->
<div class="margin-top"></div>
<nz-card nzTitle="Shopee" [nzExtra]="extraTemplateShopee" class="shopee-card">
</nz-card>
<ng-template #extraTemplateShopee>
</ng-template>

<!-- magalu -->
<div class="margin-top"></div>
<nz-card nzTitle="Magalu" [nzExtra]="extraTemplateMagalu" class="magalu-card">
</nz-card>
<ng-template #extraTemplateMagalu>
</ng-template>
